.container {
  /* method to enable to center the text */
  text-align: center;
  /* space between the text and the images */
  margin-bottom: 60px;
  color: rgb(185, 114, 251);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-container {
  /* puts cards next to each other with space between and in the center */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.left-card {
  background-color: #fff1e6b8;
  color: black;
  /* size of the box */
  width: 300px;
  height: 430px;
  margin: auto;
  /* add shadows */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.left-card p {
  color: rgb(82, 82, 82);
  font-size: 12px;
}

.center-card {
  background-color: #fde2e4b9;
  color: black;
  /* size of the box */
  width: 300px;
  height: 430px;
  margin: auto;
  /* add shadows */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.center-card p {
  color: rgb(82, 82, 82);
  font-size: 12px;
}

.right-card {
  background-color: #dfe7fdb9;
  color: black;
  /* size of the box */
  width: 300px;
  height: 430px;
  margin: auto;
  /* add shadows */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.right-card p {
  color: rgb(82, 82, 82);
  font-size: 12px;
}
